body {
  background-color: rgb(175, 190, 218);
  font-size: 30px;
  margin: 5px;
}

header {
  color: salmon;
  text-align: center;
  font-family: 'Lemon', cursive;
  font-size: 300%;
  border: 2px;
  border-color: red;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  margin-bottom: 10px;
}

section.navbar {
  font-family: 'Times New Roman', Times, serif;
  align: center;
  background-color: blanchedalmond;
  font-size: 75%;
  margin-bottom: 20px;
}

p {
  color: black;
  margin: 20px;
}
 
img {
  display: block;  
  margin: 0px auto;
}

img.align-center {
  margin-top: 2%;
  margin-top: 2%;
}

img.large {
  width: 75%;
  }

form {
  width: 50%;
}

table {
  width: 100%;
  border: 4px solid black;
}

table :last-child {
  background-color: salmon;
  padding: 5px;
}

tr {
  margin: 2px;
  padding: 2px;
  background-color: darkgoldenrod;
}
td {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  text-align: right;
}
th {
  background-color: brown;
  border: 2px solid black;
  text-align: center;
}
tr :first-child {
  text-align: left;
}

form {
  width: 45%;
  margin: 30px;
  border: 3px solid black;
  padding: 5px;
}
form legend {
  padding: 10px;
  text-align: center;
  font-size: 120%;
}

form label {
  object-position: bottom;
}

form input {
  width: 120px;
  height: 30px;
}

#locationNameInput {
  width: 200px;
}

form button {
  background-color: salmon;
  font-size: 120%;
  margin-top: 10px;
  border: 2px solid black;
}